.Hero {
  min-block-size: 50dvh;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(255, 0, 0, 0.105);


  h1 {
    font-size: 48px;
    grid-column: content;
    padding-block: 60px;
    text-transform: uppercase;
  }

  img {
    block-size: 100%;
    grid-column: bleed;
    inline-size: 100%;
    object-fit: cover;
    object-position: bottom;
    z-index: -1;
  }
}