@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/Manrope-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: block;
  font-family: 'PPNeueMontreal-Bold';
  font-style: normal;
  src: url('/fonts/PPNeueMontreal-Bold.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'PPNeueMontreal-Medium';
  font-style: normal;
  src: url('/fonts/PPNeueMontreal-Medium.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'PPNeueMontreal-Regular';
  font-style: normal;
  src: url('/fonts/PPNeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'PPRightGrotesk-CompactBlack';
  font-style: normal;
  src: url('/fonts/PPRightGrotesk-CompactBlack.woff2') format('woff2');
}

@font-face {
  font-display: block;
  font-family: 'Montreal';
  font-style: normal;
  src: url('/fonts/PPNeueMontreal-Variable.ttf') format('ttf');
}