@import url('./fonts.css');
@import url('./grid.css');

:root {
  --montreal: 'Montreal', sans-serif;
  --manrope: 'Manrope', sans-serif;
  --clr-clear: 'rgb(223, 249, 251)';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--montreal);
  background-color: var(--clr-clear);
}

a {
  text-decoration: none;
  color: inherit;
}